.header {
  padding: 1.7143em 2.85714em;
  border-bottom: 1px solid #E5E9ED;
}

.user {
  &__avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
