body {
  font-family: 'Soleil', sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}
