<aside class="sidebar flex-container flex-column flex-row-small">
  <div class="sidebar__company flex-container flex-column align-center">
    <img class="sidebar__company_image" [src]="company.thumbnail" alt="company website thumbnail">
    <p class="sidebar__company_name">{{ company.domain }}</p>
  </div>
  <ul class="sidebar__menu">
    <li class="sidebar__menu_item">
      <a>Marketing Plan</a>
    </li>
    <li class="sidebar__menu_item">
      <a>Dashboard</a>
    </li>
    <li class="sidebar__menu_item">
      <a>My Ads</a>
    </li>
    <li class="sidebar__menu_item">
      <a>Analytics</a>
    </li>
    <li class="sidebar__menu_item">
      <a>Cobiro Store</a>
    </li>
  </ul>
</aside>
